html{scroll-behavior:smooth}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.top-container {
  height: 13vh;
  border: 1px solid #eff2f5;
  border-bottom-left-radius: 0.9rem;
  border-bottom-right-radius: 0.9rem;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgb(62 28 131 / 25%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.top-container > div a{
  margin-right: 2.3rem;
  font-size: 1.24rem;
  text-decoration: none;
  padding: 0.3rem;
}
@media(max-width:600px){
  .top-container{
    height : 9vh;
    /* justify-content: space-around; */
  }
  .top-container > div a{
    font-size: 1rem;
    margin-right: 0.5rem;
  }
}
/*-----------------------------------------------------------------------------------------------------*/
.introduction {
  width: 100%;
  background-color: #ffffff9e;
  margin: 2% auto 2% auto;
}
.intro {
  text-align: center;
  margin: auto 10% auto 10%;
  width: 80vw;
}
.pb{
  margin: 0;
  font-size: 4rem;
  font-family: "Raleway", sans-serif;
}
.Password {
  padding-top: 6.25rem;
}
.Buddy {
  padding-bottom: 1rem;
}
.text-PB {
  font-size: 1.125rem;
}
.main-bg-img {
  height: 55vh;  
  object-fit: scale-down;
  margin-top: 6%;
  float: left;
}

@media (min-width: 481px) and (max-width: 767px) {
  .main-bg-img{
    width: 60vw;
    object-fit: scale-down;
    /* display: block; */
    float: none;
  }
  .pb{
    font-size: 3.5rem;
    display: block;
  }
  .Password{
    padding-top: 0px;
  }
  .text-PB{
    font-size: 1rem;
  }
}
@media(max-width:480px){
  .main-bg-img{
    width: 80vw;
    object-fit:scale-down;
    height: 40vh;
     margin: auto;
    float: none;
  }
  .pb{
    font-size: 3rem;
    display: block;
  }
  .Password{
    padding-top: 0px;
  }
  .text-PB{
    font-size: 0.9rem;
  }
}

/*-----------------------------------------------------------------------------------------------------*/
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #e2e5de;
  border-width: 0.3125rem;
  width: 10%;
  margin: 4rem auto 4rem auto;
}
/*-----------------------------------------------------------------------------------------------------*/
.featureheading {
  font-size: 3rem;
  font-family: "Raleway", sans-serif;
  text-align: center;
  margin-bottom: 0rem;
}
.features{
  display: flex;
  justify-content: space-around;
  gap: 3.5vw;
  padding: 3.5vw;
}
.feature >div> img{
  height: 4rem;
  width: 4rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
} 
.feature>div>p{
  padding: 2vw;
  margin-bottom: 1.5rem; 
}
.feature{
  flex: 1;
  max-width: 400px;
  text-align: center;
  border: 1px solid #eff2f5;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgb(62 28 131 / 25%);

}
@media(max-width : 767px){
  .features{
    flex-direction: column;
    height: 100%;
    align-items: center;
  }
  .featureheading{
    font-size: 2.5rem;
  }
}
/*-----------------------------------------------------------------------------------------------------*/

.securitybox{
  text-align: center;
  width: 98vw;
}
.security{
  width: 85%;
  margin: auto 5% auto 5%;
  padding: 3%;
  border: 1px solid #eff2f5;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgb(62 28 131 / 25%);
}
/* .security >div{
  text-align: left;
} */
.security-heading {
  font-size: 3rem;
  margin : auto 50% auto 20%;
  margin-bottom: 0;
  margin-top: 1%;;
  font-family: "Raleway", sans-serif;
}
.text-s1 {
  padding-top: 2rem;
  /* font-size: 1.125rem; */
}
.text-s2 {
  padding-bottom: 2rem;
  /* font-size: 1.125rem; */
}
.security-img{
  float: right;
  margin-left: 5%;
}

@media (min-width: 481px) and (max-width: 767px) {
  .security-heading{
    display: inline;
    margin: auto;
    font-size: 2.5rem;
  }
  .text-s1{
    font-size: 1rem;
  }
  .text-s2{
    font-size: 1rem;
  }
  .security-img{
    float: none;
    margin-left: 0;
    object-fit: cover;
  }
}
@media (max-width: 480px) {
  .security-heading{
    display: inline;
    font-size: 2em;
    margin: auto;
    /* text-align: center; */
  }
  .text-s1{
    font-size: 0.9rem;
  }
  .text-s2{
    font-size: 0.9rem;
  }
  .security-img{
    float: none;
    margin-left: 0;
    object-fit: cover;
  }
}
/*-----------------------------------------------------------------------------------------------------*/

.bottom-container {
  width: 98vw;
  display: block;
  padding: 0.625rem 0 1.2rem;
  text-align: center;
  margin-top: 4rem;
  border: 1px solid #eff2f5;
  overflow: hidden;
  background-color: #ffffff;
}
.footer-link {
  margin: 0.5rem;
}
.footer-link >img{
  height: 1.5rem;
  width: 1.5rem;
}
/*-----------------------------------------------------------------------------------------------------*/
