body {
  margin: 0;
  padding: 0;
}
.top-container {
  width: 100%;
  height: 80px;
  border: 1px solid #eff2f5;
  border-bottom-left-radius: 0.9rem;
  border-bottom-right-radius: 0.9rem;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgb(62 28 131 / 25%);
}

.top-container div p {
  color: #000000;
}
.flex-container {
  display: flex;
  justify-content: flex-end;
}
.flex-container > div {
  font-size: 20px;
  padding: 9px;
  margin-right: 25px;
}

.introduction{
  width: 100%;
  background-color: #ffffff9e;
  margin: 20px auto 20px auto;
}
.intro{
  text-align: center;
  margin: auto 25% auto 25%;
  height: 450px; /*see this and remove */
  width: 50%;
}
.Password{
  margin: 0;
  font-size: 3rem;
  padding-top: 80px; 
}
.Buddy{
  margin: 0;
  font-size: 3rem;
  padding-bottom: 0px;
}
.text-PB{
  font-size: 18px;
}
.main-bg-img{
  height:80%;
  margin-top: 6%;
  float: left;
}

.features{
  height: 500px;
}
.features2{
  height: 500px;
}



.bottom-container {
  width: 100%;
  display: block;
  padding: 10px 0 20px;
  text-align: center;
  /*added*/
  border: 1px solid #eff2f5;
  overflow: hidden;
  background-color: #ffffff;
  /* box-shadow: 0 0 10px 0 rgb(62 28 131 / 25%); */
}
.bottom-container p {
    margin-bottom: 10px;
}
.footer-link {
  margin: 0 10px;
}
.bottom-container a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.bottom-container a:hover {
  color: white !important;
}
.bottom-container a:visited {
  color: black;
}
