body {
  margin: 0;
  padding: 0;
}
.top-container {
  width: 100%;
  background-color: #b9b9b9;
  height: 80px;
}

.top-container div p {
  color: #000000;
}
.flex-container {
  display: flex;
  justify-content: flex-end;
}
.flex-container > div {
  font-size: 20px;
  padding: 9px;
  margin-right: 25px;
}

.introduction{
  width: 100%;
  background-color: #ffffff9e;
  margin: 20px auto 20px auto;
}
.intro{
  text-align: center;
  margin: auto 20% auto 20%;
  height: 450px;
  width: 60%;
}
.intro h1{
  padding: 50px;
}
.main-bg-img{
  height:80%;
  margin-top: 6%;
  float: left;
  /* margin-right: 100px; */
}

.bottom-container {
  width: 100%;
  display: block;
  background-color: #6D5D6E;
  padding: 10px 0 20px;
  text-align: center;
}
.bottom-container p {
    margin-bottom: 10px;
}
.footer-link {
  margin: 0 10px;
}
.bottom-container a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.bottom-container a:hover {
  color: white !important;
}
.bottom-container a:visited {
  color: black;
}
