html{scroll-behavior:smooth}
.authorized {
  display: block;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.top-container {
  width: 100%;
  height: 80px;
  border: 1px solid #eff2f5;
  border-bottom-left-radius: 0.9rem;
  border-bottom-right-radius: 0.9rem;
  overflow: visible;
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgb(62 28 131 / 25%);
}

.top-container div p {
  color: #000000;
}
.flex-container {
  display: flex;
  /* justify-content: flex-end; */
  justify-content: space-between;
  align-items: center;
}
.flex-container > div {   /* to be edited*/
  font-size: 20px;
  padding: 9px;
  margin-right: 25px;
}

#fullname{
  /* margin-right:60vw; */
  margin-left: 2vw;
  white-space: nowrap;
  font-weight: 600;
}
#ddusername{
  font-weight: 600;
}

.dropdown-menu ul{
  /* position: relati0ve; */
  position: absolute;
  /* background:red ; */
  width: 100px;
  padding-left: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  /* list-style: none; */
  border: 1px solid #eff2f5;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px 0 rgb(62 28 131 / 25%);
  /* opacity: 0; */
  transform: translateY(-10px);
  transition: all 0.4s ease;
  /* z-index: 999; */
  display: none;
  /* display: flex; */
}

.show {
  display: flex !important;
}

.dropdown-menu li{
  padding: 10px;
  font-size: 16px;
  margin-left:0 ;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown-menu a{
  width: 100%;
  margin-right:10px ;
}
.dropdown-menu li :hover{
  background-color: #eff2f5;
}
  
.dropdown-menu button{
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.dropdown-menu a{
  color: black;
  text-decoration: none;
}

.trial {
  text-align: center;
  height: 400px;
}

.bottom-container {
  width: 100%;
  display: block;
  padding: 10px 0 20px;
  text-align: center;
  /*added*/
  border: 1px solid #eff2f5;
  overflow: hidden;
  background-color: #ffffff;
  /* box-shadow: 0 0 10px 0 rgb(62 28 131 / 25%); */
}
.bottom-container p {
  margin-bottom: 10px;
}
.footer-link {
  margin: 7px;
}
.footer-link > img {
  height: 1.5rem;
  width: 1.5rem;
}
