html{scroll-behavior:smooth}
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
.top-container {
    width: 100%;
    height: 80px;
    border: 1px solid #eff2f5;
    border-bottom-left-radius: 0.9rem;
    border-bottom-right-radius: 0.9rem;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgb(62 28 131 / 25%);
  }

.top-container div p {
  color: #000000;
}
.flex-container {
  display: flex;
  justify-content: flex-end;
}
.flex-container > div {
  font-size: 20px;
  padding: 9px;
  margin-right: 25px;
}
.flex-container a{
  text-decoration: none;
}

.middle-container {
  width: 100%;
  background-color: #ffffff9e;
  margin: 20px auto 20px auto;
}
.register-box {
  margin: auto 25% auto 25%;
  width: 50%;
  border: 1px solid #eff2f5;
  border-radius: 0.5rem;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0 0 10px 0 rgb(62 28 131 / 25%);
}

                                                       /* change font of form*/
.register-form {
  text-align: center;
  padding: 5%;
}
.register-form > div {
  padding-top: 5%;
}

.label-text{
  text-align: left;
}

label{
  font-size: 13px;
  width: 70%;
  margin-left:13% ;
}
.agree{
  margin-left: 0px;
}

input[type=text]{
  width: 70%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* resize: vertical; */
}
input[type=email]{
  width: 70%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input[type=password]{
  width: 70%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


#error-msg{
  font-size: 0.9rem;
  margin-top: 0px;
  color: red;
  font-weight: bold;
}


button {
  background-color: #0077b6;
  color: #ffffff;
  border: none;
  padding: 7px 19px;
  border-radius: 4px;
  font-size: 13px;
  cursor: pointer;
}

button:hover {
  background-color: #005e8a;
}


.bottom-container {
  width: 100%;
  display: block;
  padding: 10px 0 20px;
  text-align: center;
  /*added*/
  border: 1px solid #eff2f5;
  overflow: hidden;
  background-color: #ffffff;
  /* box-shadow: 0 0 10px 0 rgb(62 28 131 / 25%); */
}
.bottom-container p {
    margin-bottom: 10px;
}
.footer-link {
  margin: 7px;
}
.footer-link >img{
  height: 1.5rem;
  width: 1.5rem;
}